{% extends 'base/base.html' %}

{% load static %}

{% block content %}


    <link rel="stylesheet" href="{% static 'css/login.css' %}">
<body>

<div class="background"></div>

<div class="login-card">

    <!-- LEFT FORM -->
    <div class="card-left">
        <img src="{% static 'img/logo every home blanc.png' %}" alt="Logo" class="logolog">

        <h2>Nous sommes la Team EveryHome</h2>
        <p class="subtitle">S'identifier à votre compte</p>

        <form>
            <input type="text" placeholder="Nom d'utilisateur ou email">
            <input type="password" placeholder="mot de passe">

            <button type="submit">Se connecter</button>
        </form>

        <a href="#" class="forgot">Mot de passe oublié ?</a>

        <div class="signup">
            <span>Vous n'avez pas de compte?</span>
            <a href="{% url 'account:register' %}">Creer un nouveau</a>
        </div>
    </div>

    <!-- RIGHT INFO -->
    <div class="card-right">
        <h3>Nous somme juste <br>une compagnie</h3>
        <p>
            qui vise à proposer des appartements, studios et chambres meublées dans plusieurs villes du Cameroun,
            afin faciliter la recherche de logements confortables et fiables.
        </p>
    </div>

</div>

</body>
</html>


{% endblock %}