{% extends 'base/base.html' %}
{% load static %}

{% block title %}Gestion des Logements — EveryHome{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



<header class="navbar">
    <div class="nav-content">

        <!-- BOUTON SIDEBAR -->
        <button id="sidebarToggle" class="sidebar-toggle" type="button" aria-label="Toggle sidebar">
            <i class="mdi mdi-menu"></i>
        </button>

        <!-- LOGO -->
        <div class="logo">
            <a href="{% url 'accueil:home' %}">
                <img src="{% static 'img/logo every home blanc.png' %}" alt="EveryHome">
            </a>
            Every<span>Home</span>
        </div>

    </div>
</header>


<aside class="sidebar">
    <ul class="nav">
        <li class="nav-item active">
            <a href="{% url 'dashboard:dashboard' %}" class="nav-link">
                <i class="mdi mdi-view-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'logement:index' %}" class="nav-link">
                <i class="mdi mdi-home-city"></i>
                <span>Logements</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'reservation:index' %}" class="nav-link">
                <i class="mdi mdi-calendar-check"></i>
                <span>Réservations</span>
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="mdi mdi-cash-multiple"></i>
                <span>Paiements</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'account:gesuser' %}" class="nav-link">
                <i class="mdi mdi-account-group"></i>
                <span>Clients</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-danger">
                <i class="mdi mdi-logout"></i>
                <span>Déconnexion</span>
            </a>
        </li>
    </ul>
</aside>

<div class="stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gestion des Logements</h4>
            <p class="card-description">
                <button type="button" class="btn btn-social-icon btn-twitter btn-rounded" title="Ajouter un logement"
                    onclick="window.location.href='{% url 'logement:create' %}';">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
                        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
                        <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                </button>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Apperçu</th>
                            <th>Titre</th>
                            <th>Type</th>
                            <th>Ville</th>
                            <th>Prix</th>
                            <th>Statut</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>Viline</td>
                            <td>Appartement</td>
                            <td>Yaounde </td>
                            <td>77 000FCFA</td>
                            <td>Libre</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>Mille lieux</td>
                            <td>Chambre</td>
                            <td> Douala</td>
                            <td>55 000FCFA</td>
                            <td>Libre</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>Luxerenne</td>
                            <td>Appartement</td>
                            <td> Douala</td>
                            <td>138 000FCFA</td>
                            <td>Occupé</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>Geek</td>
                            <td>Villa</td>
                            <td> Douala</td>
                            <td>777 999FCFA</td>
                            <td>Libre</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>Suite Luxeuse</td>
                            <td>Studio</td>
                            <td> Yaounde</td>
                            <td>160 000FCFA</td>
                            <td>Occupé</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>Suite Dor</td>
                            <td>Appartement</td>
                            <td> Yaounde</td>
                            <td>123 000FCFA</td>
                            <td>Occupé</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-1">
                                <img src="{% static 'img/maison-modulaire-luxe-geneve.jpg' %}" alt="image" />
                            </td>
                            <td>La plonge</td>
                            <td>Appartement</td>
                            <td>Yaounde</td>
                            <td> 150 000FCFA</td>
                            <td>Occupé</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" data-toggle="dropdown">
                                        <i class="mdi mdi-brightness-5 " style="font-size: 20px;"></i>

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                        <h6 class="dropdown-header">Settings</h6>

                                        <a class="dropdown-item" href="<?= $update ?>">
                                            <i class="mdi mdi-border-color"
                                                style="font-size: 20px; color:royalblue"></i>
                                            Modifier
                                        </a>

                                        <a class="dropdown-item" href="#">
                                            <i class="mdi mdi-delete " style="font-size: 20px; color:red;"></i>
                                            Supprimer
                                        </a>

                                        <a class="dropdown-item">
                                            <i class="mdi mdi-eye " style="font-size: 20px; cursor: pointer; "></i>
                                            Plus d'information
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="menu-icon mdi mdi-comment-text "
                                                style="font-size: 20px; color:blue"></i>
                                            Commenter
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/logement.js' %}"></script>



{% endblock %}